button
    background-color: #458FF6
    color: white  // Texte blanc
    border: none
    padding: 12px 12px
    font-size: 14px
    border-radius: 8px
    
@media screen and (width >= 1200px) 
    nav
        list-style: none
        padding: 0
        display: flex
        gap: 20px
        justify-content: flex-end

        button
            display: none

        a 
            text-decoration: none
            color: #000

@media screen and (width <= 600px) 
    nav
        list-style: none
        padding: 0
        display: flex
        gap: 20px
        justify-content: flex-end

    a 
        display: none



