div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #d4fffb;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

p {
    font-size: 18px;
    color: #000000;
    margin: 5px 0;
    text-align: center;
}

