@media screen and (width >= 1200px)
    #conteneur
        display: flex
        flex-direction: column
        gap: 1em
        max-width: 50%
        padding: 1em

    h1
        font-weight: bold

    button
        background: none
        border: none
        font: inherit
        color: #fff
        background-color: #458FF6
        border-radius: 2em
        cursor: pointer
        padding: 1em 1em
        width: auto
        max-width: 150px

    p
        color: #7D7987

