#conteneur
    display: flex
    flex-direction: column
    gap: 1em
    max-width: 50%
    padding: 1em

h1
    font-weight: bold

button
    background: none
    border: none
    font: inherit
    color: #fff
    background-color: #458FF6
    border-radius: 2em
    cursor: pointer
    width: auto
    max-width: 150px
    font-size: 1em

p
    color: #7D7987

@media screen and (width >= 1200px)
    #conteneur
        max-width: 50%

    h1
        font-size: 2em

    button
        padding: 1em 1.5em

    p
        font-size: 1em

@media screen and (width <= 600px)
    #conteneur
        max-width: 90%
        align-items: center

    h1
        font-size: 1.5em

    button
        font-size: 0.8em
        padding: 1em 1em

    p
        font-size: 0.9em
