.navigation-container
    display: flex
    align-items: center
    justify-content: center

.navigation-button
    width: 30px
    height: auto
    cursor: pointer
    margin: 0 10px

.dots-container
    display: flex
    gap: 5px

.dot
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: #5B9BF3
    display: inline-block
    cursor: pointer
