<header>
  <div class="nav-container">
    <a class="brand">Pizzeria Deliziosa</a>
    <button class="burger-menu" (click)="toggleMenu()">
      ☰
    </button>
    <nav [class.open]="isMenuOpen">
      <ul>
        <li><a [routerLink]="'/pizzas'" routerLinkActive="active">Nos Pizzas</a></li>
        <li><a [routerLink]="'/commander'" routerLinkActive="active">Commander</a></li>
        <li><a [routerLink]="'/commandes'" routerLinkActive="active">Commandes en cours</a></li>
      </ul>
    </nav>
  </div>
</header>