<div class="page-container">
  <div class="container-top">
    <div class="allTravels">
      @for (travel of pagedTravels; track $index) {
      <div class="container">
        <a (click)="onNavigation(travel.id)">
          <p>Destination : {{ travel.destination }}</p>
          <p>Description : {{ travel.description.slice(0, 20) }}</p>
          <p>Prix : {{ travel.prix }}€</p>
        </a>
        <button class="boutton-supr" (click)="onDeleteClick(travel.id)">Supprimer</button>
      </div>
      }
    </div>
  </div>

  @if (showDialog) {
  <div class="overlay">
    <div class="modal">
      <h2>Suppression</h2>
      <p>Voulez vous supprimez ce voyage</p>
      <button (click)="deleteTravel()">Oui</button>
      <button (click)="onDialogClose()">Annuler</button>
    </div>
  </div>
  }

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      Précédent
    </button>
    <span>Page {{ currentPage }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage * travelsPerPage >= allTravels.length"
    >
      Suivant
    </button>
  </div>
</div>
