@if (pizza) {
<div class="pizza-page">
  <header class="pizza-header">
    <h1 class="pizza-title">
      {{ pizza.name }}
      <span class="pizza-rating">
        @for (star of stars; track $index) {
        <span>&#9733;</span>
        }
      </span>
    </h1>
  </header>

  <div class="pizza-image-container">
    <img [src]="pizza.image" [alt]="'Image de la pizza ' + pizza.name" class="pizza-image" />
  </div>

  <section class="pizza-description">
    <p>{{ pizza.description }}</p>
  </section>

  <section class="pizza-ingredients">
    <h2>Ingrédients</h2>
    <div class="ingredient-list">
      @for (ingredient of pizza.ingredients; track $index) {
      <span class="ingredient-badge">
        {{ ingredient }}
      </span>
      }
    </div>
  </section>

  <footer class="pizza-footer">
    <p class="pizza-price">{{ pizza.price | currency: 'EUR' }}</p>
    <button class="order-button" [routerLink]="['/commander']">Commander maintenant</button>
  </footer>
  
</div>

}