avis-root
    display: block
    padding: 20px
    background: linear-gradient(to top, #5A98F2, #67C3F3)
    border-radius: 20px
    width: 100%
    box-sizing: border-box
    
@media screen and (width >= 1200px)
    main, header 
        margin: 0 8em

@media screen and (width <= 600px)
    main, header 
        margin: 0 3em

