button-blue-border-root
  display: flex
  width: 100%
  justify-content: center
  align-items: center

latest-article-allcard-root
    display: grid
    gap: 20px
    justify-items: center
    align-items: center

@media screen and (width > 1200px)
    latest-article-allcard-root
        grid-template-columns: repeat(3, 1fr)

    button-blue-border-root
        margin-top: 5em


@media screen and (width < 600px)
    latest-article-allcard-root
        grid-template-columns: 1fr
        gap: 15px
        padding: 10px
