@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

app-header {
    background-color: #d4fffb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

main {
    flex: 1;
    margin: 2em;
    padding: 2em;
}

app-footer {
    background-color: #d4fffb;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    display: block;
}
