.title-container
  display: flex
  align-items: center
  gap: 10px

.title-icon
  width: 40px
  height: 40px
  display: flex
  align-items: center
  justify-content: center
  background-color: #458FF6
  color: white
  font-weight: bold
  border-radius: 50%
  font-size: 20px

.title-text
  text-align: left
  margin: 0
  color: #233348
