@media screen and (width >= 1200px)
    main
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px

@media screen and (width <= 600px)
    main
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px
