div
  display: flex
  width: 100%
  justify-content: center
  align-items: center

button
  background-color: #fff

@media screen and (width >=1200px)
    button
        padding: 10px 30px
        font-size: 16px 
        cursor: pointer
        border: 2px solid #458FF6
        border-radius: 30px
        color: #458FF6

@media screen and (width <= 600px)
    button
        padding: 7px 17px
        font-size: 12px 
        cursor: pointer
        border: 2px solid #458FF6
        border-radius: 30px
        color: #458FF6