<div class="card-container">
    @for (card of cardServices; track card) {
    <div class="card">
        <img [src]="card.imageUrl" [alt]="card.title" class="card-image" />
        <div class="card-content">
            <h3 class="card-title">{{ card.title }}</h3>
            <hr class="separator">
            <p class="card-description">{{ card.description }}</p>
            <div class="buttonCard-container">
                <a [href]="card.button.link" class ="buttonCard">
                    <button-blue-border-root [title]="card.button.title"></button-blue-border-root>
                </a>
            </div>

        </div>
    </div>
    }
</div>