.container
  margin-top: 5em
  background: linear-gradient(to top, #5A98F2, #67C3F3)
  width: auto
  height: 50vh 
  display: flex
  justify-content: center
  align-items: center

.container-info
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%
  border: 1px solid #000

.left
  border: 1px solid #000
  width: 30%
  display: flex
  justify-content: flex-start
  align-items: center
