@import 'https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap'

* 
    font-family: 'Mulish', sans-serif
    margin: 0
    padding: 0
    
@media screen and (width >= 1200px)
    body 
        margin: 0 8em

@media screen and (width <= 600px)
    body 
        margin: 0 3em